html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
}
body {
}
/* main container */
.main {
  display: flex;
  height: 100vh;
  background-color: rgb(18 18 18);
}
.divider {
  height: 70%;
  width: 1px;
  background-color: #ffffff2e;
}
/* containers for 3 sections */
.left {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
}
.center {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 12px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}

/* dim / blur overlay */
.music::before {
  content: "";
  position: absolute;
  inset: 0;

  background: inherit;
  filter: blur(2px) brightness(0.3);
  transform: scale(1.5);
  z-index: 0;
}

/* content stays above */
#now-playing {
  position: relative;
  z-index: 1;
}

.right {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.item {
  height: 12px;
  width: auto;
  padding-block: 5px;
  padding-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

/* Tray */
.tray-main {
  background-color: black;
  height: 100vh;
  width: 100%;
  padding-top: 10px;
}
.tray-icons {
  display: flex;
  width: 480px;
  margin-inline: auto;
  height: 100px;
  border: 1px solid white;
}
.scripts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 480px;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  margin-inline: auto;
}
.script-button {
  border: 1px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.script-button:hover {
  color: rgba(255, 255, 255, 0.796);
  border: 1px solid rgba(255, 255, 255, 0.796);
}
